<template>
  <transition name="slide">
    <div class="sidebar">
      <div
        class="sidebar-container">
        <div
          class="sidebar-header">
          <a
            class="delete sidebar-close"
            @click="close"/>
        </div>
        <div
          class="sidebar-content">
          <base-list
            :items="items"
            :id="id"
            :selected="selected"
            @select="select">
            <template
              slot="list-item"
              slot-scope="item">
              <div style="padding: 15px;">
                <slot
                  :data="item"
                  name="sidebar-item"/>
              </div>
            </template>
          </base-list>
        </div>
        <div class="sidebar-footer">
          <slot
            name="sidebar-footer"/>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import BaseList from '../list/BaseList.vue'
  import Overlay from '../overlay/BaseOverlay.vue'

  export default {
    name: 'BaseSidebar',
    components: {
      BaseList,
      Overlay
    },
    props: {
      items: {
        default () {
          return []
        },
        type: Array
      },
      id: {
        required: true,
        type: String
      },
      selected: {
        default () {
          return {}
        },
        type: Object
      }
    },
    methods: {
      close ($event) {
        this.$emit('close', $event)
      },
      select ($event) {
        this.$emit('select', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/sidebar/index.scss";
</style>
