<template>
  <div class="card">
    <div
      v-show="image"
      class="card-image">
      <figure class="image is-square">
        <img
          :src="image"
          alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <slot/>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BaseCard',
    props: {
      image: {
        default: '',
        type: String
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/card/index.scss";
</style>
