<template>
  <label
    class="label">
    {{ label }}
  </label>
</template>

<script>
  export default {
    name: 'BaseLabel',
    props: {
      label: {
        default: '',
        type: String
      }
    }
  }
</script>

<style scoped lang="scss">
</style>
