<template>
  <div
    class="field">
    <base-label :label="label"/>
    <div
      class="control">
      <input
        :value="value"
        :placeholder="placeholder"
        class="input"
        type="text"
        @input="input"
        @change="change">
    </div>
  </div>
</template>

<script>
  import BaseLabel from '../label/BaseLabel.vue'

  export default {
    name: 'BaseInput',
    components: {BaseLabel},
    props: {
      value: {
        default: '',
        type: String
      },
      placeholder: {
        default: '',
        type: String
      },
      label: {
        default: '',
        type: String
      }
    },
    methods: {
      input ($event) {
        this.$emit('input', $event.target.value)
      },
      change ($event) {
        this.$emit('change', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
</style>
