<template>
  <div
    class="overlay">
    <section
      class="hero is-fullheight is-white">
      <div
        class="hero-body">
        <div
          class="container has-text-centered">
          <slot/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'BaseOverlay',
    data () {
      return {}
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/overlay/index.scss";
</style>
