@import "../../../../core/sass/colors/index.scss";
@import "../../../../core/sass/levels/index.scss";

.header {
  position: static;
  left: 0;
  right: 0;
  background-color: $revas-purple-color;
  z-index: $revas-navbar-level;
}

.header-content {
  justify-content: space-between;
  display: flex;
}
