@import "../../../../core/sass/levels/index.scss";

.modal {
  z-index: $revas-modal-level;
}

.modal-card-foot {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-top: none;
}
