@import "../../../../core/sass/levels/index.scss";

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: $revas-overlay-level;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

.has-content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
