<template>
  <figure class="image">
    <img
      :src="src"
      class="is-circular">
  </figure>
</template>

<script>
  export default {
    name: 'BaseImage',
    props: {
      src: {
        default: '',
        type: String
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/image/index.scss";
</style>
