@import "../../../../core/sass/levels/index.scss";
@import "../../../../core/sass/colors/index.scss";

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: $revas-background-level;
  background-color: $overlay-background-color;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.2s;
}

.fade-enter-active {
  transition-delay: 0.2s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
