<template>
  <span :class="containerClass">
    <i :class="solidClass" />
  </span>
</template>

<script>
  const sizes = { 'medium': '2x', 'large': '3x' }

  export default {
    name: 'BaseIcon',
    props: {
      icon: {
        default: 'exclamation',
        type: String
      }
    },
    computed: {
      data () {
        const params = this.icon.split(':')
        return {
          icon: params[0],
          size: params.length > 1 ? params[1] : ''
        }
      },
      containerClass () {
        return 'icon is-' + this.data.size
      },
      solidClass () {
        return 'fal fa-' + this.data.icon + ' fa-' + sizes[this.data.size]
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/icon/index.scss";
</style>
