<template>
  <section class="section header">
    <div class="container header-content">
      <div>
        <slot name="left"/>
      </div>
      <div>
        <slot name="right"/>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'BaseNavbar',
    data () {
      return {}
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/navbar/index.scss";
</style>
