<template>
  <button
    class="button"
    @click="click">
    <slot/>
  </button>
</template>

<script>
  export default {
    name: 'BaseButton',
    methods: {
      click: function ($event) {
        this.$emit('click', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/button/index.scss";
</style>
