@import "../../../../core/sass/levels/index.scss";

.sidebar {
  position: fixed;
  width: 300px;
  z-index: $revas-sidebar-level;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar-container {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sidebar-close {
  margin: 10px;
}

.slide-enter-active,
.slide-leave-active {
  transition: 0.5s;
}

.slide-enter-active {
  transform: translateX(0%);
}

.slide-enter,
.slide-leave-active {
  transform: translateX(-100%);
}
