$revas-purple-color: #8154ec;
$revas-orange-color: #fe736f;
$revas-purple-light-color: #c4bbff;
$revas-orange-light-color: #ffd6bc;
$revas-error-color: #ff9681;
$revas-warning-color: #ffcc35;
$revas-success-color: #3ed4b4;
$revas-info-color: #4ed6ff;
$revas-black-color: #000;
$revas-gray-primary-color: #ababab;
$revas-gray-secondary-color: #f5f5f5;

$navbar-background-color: transparent;
$overlay-background-color: rgba(10, 10, 10, 0.86);
$list-highlighted-item-color: #f8f8f8;
$list-selected-item-color: #e6e6e6;
