<template>
  <transition name="fade">
    <div
      class="background"
      @click="close"/>
  </transition>
</template>

<script>
  export default {
    name: 'BaseBackground',
    methods: {
      close ($event) {
        this.$emit('close', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/background/index.scss";
</style>
