<template>
  <div
    :class="{'is-active': showModal}"
    class="modal">
    <div
      class="modal-background"
      @click="closeModal"/>
    <div class="modal-content">
      <slot/>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BaseModal',
    props: {
      showModal: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      closeModal: function ($event) {
        this.$emit('close', $event)
      },
      click: function ($event) {
        this.$emit('click', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/modal/index.scss";
</style>
