<template>
  <div
    :class="{'is-active': showModal}"
    class="modal">
    <div
      class="modal-background"
      @click="closeModal"/>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"><slot name="title"/></p>
        <button
          class="delete"
          aria-label="close"
          @click="closeModal"/>
      </header>
      <section class="modal-card-body">
        <p><slot name="body"/></p>
      </section>
      <footer class="modal-card-foot">
        <slot name="footer"/>
      </footer>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BaseModalCard',
    props: {
      title: {
        type: String,
        default: ''
      },
      showModal: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      closeModal: function ($event) {
        this.$emit('close', $event)
      },
      click: function ($event) {
        this.$emit('click', $event)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/modal-card/index.scss";
</style>
