<template>
  <ul>
    <li
      v-for="(item, index) in items"
      :key="item[id]"
      :class="{
        'highlighted': index === cursor,
        'selected': selected && item[id] === selected[id]}"
      @mouseenter="cursor = index"
      @mousedown="select">
      <slot
        :data="item"
        name="list-item"
      />
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'BaseList',
    props: {
      items: {
        default () {
          return []
        },
        type: Array
      },
      id: {
        required: true,
        type: String
      },
      selected: {
        default () {
          return {}
        },
        type: Object
      }
    },
    data () {
      return {
        cursor: 0
      }
    },
    methods: {
      select () {
        const temp = this.items[this.cursor]
        this.$emit('select', temp)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../../components/sass/components/list/index.scss";
</style>
